html body {
  font-size: 14px;
  font: 400 14px/20px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal;
  color: #777777;
}
span {
  font-size: 12px;
}
a {
  text-decoration: none;
}

/* Header Section Start */

.set_head_logo {
  width: 20px;
  margin-left: 20px;
  float: left;
  margin-top: 0px;
  margin-right: 8px;
}

.topheader {
  color: #fff;
}
.regi_btn {
  border: 2px solid #fff;
  color: #fff !important;
  padding: 9px 25px !important;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 500 !important;
  line-height: 1.5 !important;
  text-align: center;
  display: block;
  font-size: 16px;
}
.regi_btn:hover {
  border: 2px solid #fcbf02;
  color: #fcbf02 !important;
}
.li_color {
  color: #fff !important;
  font-weight: 600 !important;
  font-size: 13px !important;
}
ul li a:hover {
  color: #fcbf02 !important;
}
.sub_name {
  text-transform: capitalize;
}
.header_a_btn {
  background: transparent;
  border: 0;
  color: #fff;
  text-decoration: none;
  width: 43px;
  height: 32px;
  text-align: center;
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  line-height: 22px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}
.header_a_btn:hover {
  background: none;
  border: 1px solid #fff;
}

/* vaccination stats start */

.vaccination_stats {
  background: #007c7c;
  background: linear-gradient(120deg, #007c7c 50%, #04c4c4 0);
  height: 4rem;
}
.vaccination_stats_btn {
  background: #fcbf02;
  border-radius: 25px;
  padding: 0.55rem 2.55rem;
  color: #4d3b03;
  font-weight: 700;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 13px;
  border: 2px solid #fff;
}
.vaccination_stats_btn:hover {
  background: #fcbf02;
  border-radius: 25px;
  padding: 0.55rem 2.55rem;
  color: #4d3b03;
  font-weight: 700;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 13px;
  border: 2px solid #fff;
}

/* vaccinated card Section Start */

.vaccinate_main {
  padding: 45px;
  background-color: #edffff;
}
.vaccin_title {
  font-weight: 700;
  font-size: 32px;
  color: #007c7c;
  margin-bottom: 30px !important;
}
.vaccin_description_start {
  background-color: #007c7c;
}
.vaccin_description {
  padding: 30px 25px;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  margin-bottom: 0;
}
.vaccinationSteps .icon-chevron-right {
  color: #02aeae;
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
}
.heder_btn {
  text-align: right;
}
/* .vaccin_card_img{
  padding: 50px 35px 0;
} */
.vaccin_img_3 {
  height: 180px;
}
.vaccin_card {
  border: transparent;
  text-align: center;
  box-shadow: 0 10px 30px #b5d8e2;
  background-color: #fff;
  border-radius: 10px;
}

.set_vaccine_card {
  display: flex;
  justify-content: center;
}

/*  */

.counter {
  border: 3px solid #fd5428;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  margin: 10px 0 40px;
  padding: 12px 25px;
  text-transform: uppercase;
}
.counter-h3 {
  color: #fd5428;
  margin: 0;
  font-size: 38px;
  font-weight: 700;
}
.content-5 {
  color: #000;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 30px;
  font-weight: bold;
}
.primeMinister {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 30px;
}
.heading-1 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 53px;
  color: #000;
  font-family: Roboto Condensed, sans-serif !important;
}
.country {
  max-height: 490px;
  max-width: 100%;
  /* margin: 0 auto 0 20px; */
}
.banner {
  background-image: url("./assets/banner.png");
}

/* vaccin center start */

.vaccin_center_para {
  font-size: 16px;
  font-weight: 400;
  color: #5a5a75;
  margin-bottom: 15px;
  margin: 0 0 12px;
}
.vaccian_anchor {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #02aeae;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  font-weight: 700;
  font-size: 22px;
  color: #02aeae;
  border-bottom: 1px solid #02aeae;
  background-color: transparent;
}
.nav-pills .nav-link,
.nav-pills .show > .nav-link {
  font-size: 22px;
  font-weight: 700;
  color: #7a7a7a;
}
.select_box {
  border: 1px solid #bfbfbf;
  padding: 10px 15px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 400;
}
.tab_content_set {
  width: 77%;
  margin: 0 auto;
}
.search_btn {
  height: 45px !important;
  padding: 8px 30px;
  font-size: 18px;
  text-transform: none !important;
  border-radius: 50px !important;
  margin-left: 15px;
  font-weight: 400;
  display: inline-block;
  color: #fff !important;
  border: 1px solid #007c7c !important;
  background-color: #007c7c !important;
}
.tab_content_set_2 {
  width: 48%;
  margin: 0 auto;
}
.text_pin {
  padding: 6px;
  border-bottom: 1px solid #bfbfbf;
  display: inline-block;
  border-radius: 50px !important;
  font-size: 18px;
  border: 1px solid #ccc;
  padding: 8px 15px !important;
  width: 100%;
  height: 100%;
  float: left;
}

/* Report start */
.report_para {
  font-size: 16px;
  color: #0e1229;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.7;
  letter-spacing: 0.5px;
  margin: 0 0 12px;
  text-align: center;
  text-align: justify;
}
.report_btn {
  background: #007c7c;
  border-radius: 25px;
  padding: 0.75rem 2.95rem;
  color: #fff;
  font-size: 16px;
  display: block;
  width: fit-content;
  text-decoration: none;
}
.report_btn:hover {
  background: #007c7c;
  border-radius: 25px;
  padding: 0.75rem 2.95rem;
  color: #fff;
  font-size: 16px;
  display: block;
  width: fit-content;
  text-decoration: none;
}
.report_img {
  width: 85%;
}

/* pre covid */

.heading_css {
  color: #007c7c;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.1px;
  line-height: 1.3;
}

.para_css {
  font-size: 16px;
  color: #0e1229;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.7;
  letter-spacing: 0.5px;
  max-width: 70%;
}

.achore_css {
  background: #007c7c;
  border-radius: 25px;
  padding: 0.75rem 2.95rem;
  color: #fff;
  font-size: 16px;
  display: block;
  /* width: -moz-fit-content; */
  width: fit-content;
  text-decoration: none;
}

.vaccine_css {
  width: 75%;
}

.row_css {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.heading_child_css {
  color: #007c7c;
  font-weight: 700;
  font-size: 31px;
  letter-spacing: 0.1px;
  line-height: 1.3;
}

.para_child_css {
  list-style: none;
  position: relative;
  padding-left: 19px;
}

.ul_css {
  padding-left: 5px;
}

.p_child_css {
  font-size: 16px;
  color: #0e1229;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.7;
  letter-spacing: 0.5px;
}

.vaccine_css_img {
  width: 100%;
}

.para_child_css .p_child_css:before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #27c6c6;
  border-radius: 50%;
  left: 0;
  top: 6px;
}

/* Footer Code */

.footerContainer {
  background: #007c7c;
  color: #fff;
  position: relative;
  padding: 0 30px;
}
.footer-heading-h4 {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: #99d9d9;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.footer-ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin: 0;
}

.footer-ul li {
  margin-bottom: 10px;
  font-weight: 300;
}
.footer-ul li a {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}
.footer-heading-hr {
  border: 3px solid #99d9d9;
  width: 15%;
}
.footer-bottom{
  background-color: #015158;
}
